# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Editor/IDE
.vscode/
.aquilify/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Bytecode
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Env files
.env

# SQLite database files
*.sqlite3

# Coverage reports
.coverage
htmlcov/

# Aquilify specific (if any cache/temp)
__aquilify_cache__/
